*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: aliceblue;
    background-color:	#424549;
}

.container{
    width: 800px;
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
form{
    margin: 25px 0;
}
form #search{
    width: 250px;
    height: 40px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: azure;
    outline: none;
    border: 1px solid black;
    font-size: 17px;
    margin: 0 10px;
}
form button{
    border: none;
    outline: none;
    background: black;
    color: white;
    border-radius: 30px;
    padding: 13px 28px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
.result {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7289da;
}

.result img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}
.result h3, .result h2 , .result p{
    font-family: sans-serif;
    margin: 5px 0;
}
.result a {
  color: black;
}

